body {
  margin: 0px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

main {
  margin: auto;
  width: 70%;
}

header {
  background-color: #5c104b96;
  color: #a50b9d;
  padding: 0px 0px 10px 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  width: 70%;
  padding: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: #a50b9d;
}

h4 {
  font-size: 13px;
  width: 70%;
  margin: auto;
}

.formulario{
  border: 2.5px solid #9d0db9;
  border-radius: 5px;
	padding: 11px;
  background-color: #5c104b96;
  color: #fff;
}


table{
	width: 100%;
	margin-bottom : .5em;
  table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
    font-size: 14px;
}

th{
	font-weight: bold;
	background: #520ebe;;
  color: #fff;
}

input {
  border-radius: 5px;
  height: 25px;
}

button {
  background-color: #983ca0; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 2px 2px rgb(0, 0, 0);
    transition: 0.3s;
    margin-left: 380px;
}

button:hover{
  color: black;
  background: white;
  padding: 10.4px;
}

.reprovado{
	color: white;
	font-weight:bold;
	background-color: red;

}

.aprovado{
	color: #fff;
	font-weight:bold;
	background-color: #0C5009;
}

